/* CSS стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('photo/back2.0.jpg'); /* Укажите путь к вашему фоновому изображению */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(63, 61, 61, 0.2); /* Цвет с прозрачностью (здесь 0.8) */
  color: #ff0000;
  padding: 20px;
}


.logo h1 {
  font-size: 24px;
  margin: 0;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  text-decoration: none;
  color: #ff0000;
}

.controls {
  display: flex;
  align-items: center;
}

.user-icon {
  margin-right: 10px; 
}

.user-icon img {
  width: 45px; 
  height: 45px;
}

.language a {
  color: #ff0000;
  text-decoration: underline;
  margin-right: 10px; 
}

.theme-switch input {
  width: 40px;
  height: 20px;
  display: none;
}

.theme-switch label {
  color: #fff;
  text-decoration: underline;
  margin-right: 10px;
  cursor: pointer;
}

main {
  padding: 20px;
}

main h2 {
  font-size: 24px;
}

main p {
  font-size: 16px;
}
